.active{
    background-color: rgba(13, 110, 253, 0.25);
    font-weight: bold;
    width: 100%;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    border-left: 5px solid #0d6efd;
}

html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0rem;
}

.bg-gold {
  background-color: #FFD700 !important;
}
.bg-silver {
  background-color: #C0C0C0 !important;
}
.bg-bronze {
  background-color: #CD7F32 !important;
}